/* Credit for misty effect: www.adrienbachmann.ch */
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
 body, html {
	 font-family: 'Roboto';
	 margin: 0;
	 width: 100%;
}

#timeline {
	width: 450px;
	height: 806px;
	margin-top: 50px;
	margin-left: 10%;
}
#name {
	 font-size: 100px;
	 margin-top: 100px;
	 margin-left: 10%;
}
#skillsContainer {
	position: relative;
	margin-left: 10%;
	margin-top: 130px;
}
#code-editor {
	width: 550px;
	height: 366px;
}
#skills {
	color: rgb(251, 253, 253);
	position: absolute;
    top: 50px;
    left: 50px;
	font-family: monospace;
}
.navbar-brand{
	font-weight: bold;
}

a{
	color:black !important;
	text-decoration: none !important;
}

a:hover {
	text-decoration: underline !important;
}

.row{
	margin-bottom: 100px;
}

#projects {
	width: 92%;
}

@media only screen and (min-width: 280px) and (max-width: 434px){
	#name {
		font-size: 65px;
		margin-top: 50px;
    }

   #timeline {
	   width: 300px;
	   height: 545px;
	   margin-left: 5%;
	   margin-top: 40px;
	}

	#code-editor {
		width: 300px;
		height: 200px;
	}

	#skillsContainer {
		margin-top: 50px;
		margin-left: 8%;
	}

	#skills {
		font-size: 10px;
		top: 25px;
    	left: 30px;
	}

	#projects {
		width: 88%;
		margin-left: 8%;
	}

	.navbar-brand{
		font-size: 20px !important;
	}

	#contactInfoTitle{
		font-size: 30px;
	}

	.contactInfoText{
		font-size: 20px;
	}

	.row{
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 435px) and (max-width: 569px){
	#name {
		font-size: 75px;
		margin-left: 10%;
		margin-top: 50px;
    }

   #timeline {
	   width: 350px;
	   height: 636px;
	   margin-left: 10%;
	}

	#code-editor {
		width: 350px;
		height: 233px;
	}
	#skillsContainer {
		margin-left: 10%;
		margin-top: 75px;
	}

	#skills {
		font-size: 12px;
		top: 30px;
    	left: 30px;
	}

	#projects {
		width: 100%;
	}

	.navbar-brand{
		font-size: 20px !important;
	}

	#contactInfoTitle{
		font-size: 30px;
	}

	.contactInfoText{
		font-size: 20px;
	}
}

@media (min-width: 570px) and (max-width: 991px) {
	#name {
		font-size: 100px;
		margin-left: 7%;
		margin-top: 75px;
    }

   #timeline {
	   width: 500px;
	   height: 909px;
	   margin-left: 7%;
	}

	#code-editor {
		width: 500px;
		height: 333px;
	}
	#skillsContainer {
		margin-left: 7%;
		margin-top: 100px;
	}

	#skills {
		font-size: 15px;
	}

	#projects {
		width: 100%;
	}

	.navbar-brand{
		font-size: 25px !important;
	}

	#contactInfoTitle{
		font-size: 30px;
	}

	.contactInfoText{
		font-size: 20px;
	}
}

@media (min-width: 992px) and (max-width: 1200px){
	#name {
		font-size: 115px;
		margin-left: 15%;
		margin-top: 75px;
    }

   #timeline {
	   width: 550px;
	   height: 1000px;
	   margin-left: 15%;
	}

	#code-editor {
		width: 600px;
		height: 400px;
	}
	#skillsContainer {
		margin-left: 15%;
		margin-top: 75px;
	}

	#skills {
		font-size: 20px;
	}

	#projects {
		width: 100%;
	}

	.navbar-brand{
		font-size: 25px !important;
	}

	#contactInfoTitle{
		font-size: 30px;
	}

	.contactInfoText{
		font-size: 20px;
	}
}