/* Credit for misty effect: www.adrienbachmann.ch */
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
 body, html {
	 font-family: 'Roboto';
	 margin: 0;
}
#timeline {
	width: 450px;
	height: 806px;
	margin-top: 50px;
	margin-left: 15%;
}
#name {
	 font-size: 100px;
	 margin-top: 100px;
	 margin-left: 15%;
}
#skillsContainer {
	position: relative;
	margin-left: 15%;
	margin-top: 130px;
}
#code-editor {
	width: 550px;
	height: 366px;
}
#skills {
	color: rgb(251, 253, 253);
	position: absolute;
    top: 50px;
    left: 50px;
	font-family: monospace;
}
.navbar-brand{
	font-weight: bold;
}

a{
	color:black !important;
	text-decoration: none !important;
}

a:hover {
	text-decoration: underline !important;
}

.row{
	margin-bottom: 100px;
}

#projects {
	width: 87%;
}

@media (min-width:200px) and (max-width: 800px) {
	#name {
		font-size: 150px;
		margin-left: 0;
    }

   #timeline {
	   width: 650px;
	   height: 1181px;
	   margin-left: 0;
	}

	#code-editor {
		width: 700px;
		height: 466px;
	}
	#skillsContainer {
		margin-left: 0;
	}

	#skills {
		font-size: 23px;
	}

	#projects {
		width: 100%;
	}

	.navbar-brand{
		font-size: 30px !important;
	}
}