/* Credit for misty effect: www.adrienbachmann.ch */
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
 body, html {
	 font-family: 'Roboto';
	 margin: 0;
	 width: 100%;
}

#timeline {
	width: 450px;
	height: 806px;
	margin-top: 50px;
	margin-left: 10%;
}
#name {
	 font-size: 100px;
	 margin-top: 100px;
	 margin-left: 10%;
}
#skillsContainer {
	position: relative;
	margin-left: 10%;
	margin-top: 130px;
}
#code-editor {
	width: 550px;
	height: 366px;
}
#skills {
	color: rgb(251, 253, 253);
	position: absolute;
    top: 50px;
    left: 50px;
	font-family: monospace;
}
.navbar-brand{
	font-weight: bold;
}

a{
	color:black !important;
	text-decoration: none !important;
}

a:hover {
	text-decoration: underline !important;
}

.row{
	margin-bottom: 100px;
}

#projects {
	width: 87%;
}

@media only screen and (min-width: 375px) and (max-width: 754px){
	#name {
		font-size: 70px;
		margin-left: 0;
		margin-top: 50px;
    }

   #timeline {
	   width: 350px;
	   height: 636px;
	   margin-left: 0;
	   margin-top: 40px;
	}

	#code-editor {
		width: 350px;
		height: 233px;
	}
	#skillsContainer {
		margin-left: 0;
		margin-top: 50px;
	}

	#skills {
		font-size: 12px;
		top: 30px;
    	left: 30px;
	}

	#projects {
		width: 100%;
		margin-left: 0px;
	}

	.navbar-brand{
		font-size: 20px !important;
	}

	#contactInfoTitle{
		font-size: 30px;
	}

	.contactInfoText{
		font-size: 20px;
	}

	.row{
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 755px) and (max-width: 991px) {
	#name {
		font-size: 125px;
		margin-left: 5%;
    }

   #timeline {
	   width: 550px;
	   height: 1000px;
	   margin-left: 5%;
	}

	#code-editor {
		width: 550px;
		height: 366px;
	}
	#skillsContainer {
		margin-left: 5%;
		margin-top: 100px;
	}

	#skills {
		font-size: 17px;
	}

	#projects {
		width: 100%;
	}

	.navbar-brand{
		font-size: 30px !important;
	}

	#contactInfoTitle{
		font-size: 30px;
	}

	.contactInfoText{
		font-size: 20px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
	#name {
		font-size: 150px;
		margin-left: 15%;
    }

   #timeline {
	   width: 550px;
	   height: 1000px;
	   margin-left: 15%;
	}

	#code-editor {
		width: 700px;
		height: 466px;
	}
	#skillsContainer {
		margin-left: 15%;
	}

	#skills {
		font-size: 23px;
	}

	#projects {
		width: 100%;
	}

	.navbar-brand{
		font-size: 30px !important;
	}

	#contactInfoTitle{
		font-size: 30px;
	}

	.contactInfoText{
		font-size: 20px;
	}
}